<div class="header">
    <div class="container header__container">
        <div class="header__container__first-box ">
            <img class="logotype" routerLink="" src="assets/image/header/logo.svg" alt="">
            <nav>
                <ul class="list-nav" >
                    <li><a routerLink="">Blog</a></li>
                    <li><a routerLink="">FAQ</a></li>
                    <li><a routerLink="categories">Reviews</a></li>
                    <li><a routerLink="">Contact </a></li>
                </ul>
            </nav>
        </div>
        <div class="header__container__second-box">
            <div class="user__details">
                <img [routerLink]="['Account',b]" src="assets/image/header/user.svg" alt="user">
                <img [routerLink]="['Handbag',bask]" src="assets/image/header/Handbag.svg" alt="Handbag">
                <img class="burger-menu" src="assets/image/header/burger_Menu.png" >
            </div>
            <div class="input">
                <input type="text">
                <img src="assets/image/header/loupe.svg" alt="">
            </div>
        </div>
    </div>
</div>