h1{
    font-weight: 700;
    font-size: 48px;
    max-width: 598px;
}
p{
    font-size: 16px;
    width: 350px;
    line-height: 127.2%;
    font-weight: 500;
    font-style: normal;
}
.big-width_text{
    font-weight: 1000;

}